<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="./finvasia/index.css" rel="stylesheet" />
  </head>
  <body>
    <%- body %>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="./finvasia/custom.js"></script>
    <script>
      $("#place_order_button").click(function () {
        const symbol = $("#strike").val();
        const price = parseInt($("#price").val());
        // alert(symbol);
        // return false;
        const data = {
          strike: symbol,
          triggerPrice: parseInt(price + 2),
          price: parseInt(price + 3),
        };
        $.ajax({
          type: "post",
          url: "/place-sl-order",
          data: data,
          dataType: "json",
          success: function (res) {
            console.log(res);
          },
        });
      });
    </script>
  </body>
</html>
